header{
    .section_nav_1{

        display: flex;
        background-color: blue;
        color: wheat;

        .white_space{
            flex-grow: 1;
        }
        ul{
            list-style: none;
            display: flex;
            font-size: 8px;
            li{
                a{
                    color: wheat;
                    text-decoration: none;
                    margin:0  20px;
                }
            }

        }
    }
    .max_container{
        max-width: 920px;
        margin: auto;
    }

    .section_nav_2{
        
        
        display: flex;
        padding: 10px 20px;
        align-items: center;
        .logo_nav{

            width: 80px;
            img{
                width: 90%;
            }

        }
        .nav_links{
            flex-grow: 1;
            ul{
                
                display: flex;
                justify-content: center;
                list-style: none;
                li{
                    padding: 0 10px;
                    a{
                        color: black;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: 200;
                        span{
                            color: blue
                        }
                    }

                }
            }
        }
        .search_style{
            position: relative;
            input{
                border: none;
                border-bottom: solid 1px blue;
                max-width: 150px;
                padding-left: 90px;
                outline: none;
                
            }
            span{
                position: absolute;
                right: 4px;
               
                font-size: 15px;
            }
        }
    }
}