
main{
   
    .section_1{
        .jumbotron_style{
            height: 250px;
            img{
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                -o-object-position: 50% 0;
                   object-position: 50% 0;
                
            }
            
        }
    }
    .max_container{
        max-width: 920px;
        margin: auto;

    }
    .section_2{
       
        .style_btn{

            position: relative;
            .btn{
                position: absolute;
                bottom: -12px;
                font-weight: 600;
                color: white;
                background-color: blue;
                border: none;
                padding:5px 30px;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
    }
    
    .card_container{
        background-color: black;
        width: 100%;
        .container_card_style{
            display: flex;
            flex-wrap: wrap;
            .card{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                flex-basis: calc(100% / 6);
                
                height: 220px;
                width: 100px;
                padding: 0 15px;
                color: white;
                text-transform: uppercase;
                    .img_card{
                    height: 150px;
                    width: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .title_card{
                        padding: 10px 0 ;
                        h5{
                            font-size: 9px;
                        }
                    }
                   
            }
        }
        .container_load_btn{
           
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                a{
                    padding: 3px 50px;
                    color: white;
                    background-color: blue;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                   
                }
            }
        }
    }
    .section_3{

        background-color: #0282F9;
        position: relative;
        z-index: 1;

        .commers_container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            .commers_style{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width:50%;
                height:50%; 
               
                div{
                    display: flex;
                    justify-content: center;
                align-items: center;
                    width:100%;
                    height:100%;  
                    img{
                        width:20%;
                        height:100%;  
                        object-fit: contain;
                    }
                    h5{
                        font-size: 10px;
                        text-transform: uppercase;
                        padding: 0 10px;
                        color: white;
                    }
                }
            }
        }
    }
    
}